<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>
<body>
<form action="{{ url_for('index') }}" method="post">
    <input type="radio" name="paper" value="add paper" checked> Add Paper<br>
    <input type="radio" name="paper" value="update paper"> Update Paper<br>
    <input type="radio" name="paper" value="delete paper"> Delete Paper <br>
    <input type="submit" value="Submit">
</form>
<br>
<form action="{{ url_for('index') }}" method="post">
    <input type="radio" name="author" value="add author" checked> Add Author<br>
    <input type="radio" name="author" value="update author"> Update Author<br>
    <input type="radio" name="author" value="delete author"> Delete Author <br>
    <input type="submit" value="Submit">
</form>
<br>
<form action="{{ url_for('index') }}" method="post">
    <input type="radio" name="topic" value="add topic" checked> Add Topic<br>
    <input type="radio" name="topic" value="update topic"> Update Topic<br>
    <input type="radio" name="topic" value="delete topic"> Delete Topic <br>
    <input type="submit" value="Submit">
</form>

</body>
</html>