<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index User</title>
</head>
<body>
<form action="{{ url_for('index') }}" method="post">
    Options: <br>
    <input type="radio" name="option" value="view_all" checked> View all authors, topics or papers <br>
    <input type="radio" name="option" value="papers_by_author" > View all papers of an author <br>
    <input type="radio" name="option" value="sota_by_topic" > View sota result and paper by topic <br>
    <input type="radio" name="option" value="papers_by_topic" > View papers on a specific topic  <br>
    <input type="radio" name="option" value="rank_all_authors" > Rank all authors <br>
    <input type="radio" name="option" value="search" > Search a keyword <br>
    <input type="radio" name="option" value="rank_authors" > View coauthors of an author <br>
    <input type="submit" value="Submit">
</form>
<br>
</body>
</html>