<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Topic to Paper</title>
</head>
<body>

<form action="{{ url_for('update_paper') }}" method="get">
    Go Back to Update Paper Page:
    <input type="submit" value="Submit">
</form>
<br>
<form action="{{ url_for('paper_add_topic') }}" method="post">
    Title:<br>
    <input type="text" name="title">
    <br><br>
    New Topic Name:<br>
    <input type="text" name="new_topic_name">
    <br><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>