<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search a Keyword</title>
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
<form action="{{ url_for('index') }}" method="get">
    Go Back to Index Page:
    <input type="submit" value="Submit">
</form>
<br>

<form action="{{ url_for('search') }}" method="post">
    Keyword:<br>
    <input type="text" name="keyword">
    <br><br>
    <input type="submit" value="Submit">
</form>

<table>
  <tr>
    <th>Title</th>
    <th>Abstract</th>
    <th>SOTA Result</th>
  </tr>
    {% for paper in papers %}
        <tr>
            <td> {{ paper[1] }} </td>
            <td> {{ paper[2] }} </td>
            <td> {{ paper[3] }} </td>
        </tr>
    {% endfor %}
</table>

</body>
</html>