<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Title</title>
</head>
<body>

<form action="{{ url_for('update_paper') }}" method="get">
    Go Back to Update Paper Page:
    <input type="submit" value="Submit">
</form>
<br>
<form action="{{ url_for('update_title') }}" method="post">
    Old Title Name:<br>
    <input type="text" name="old_title_name">
    <br>
    New Title Name:<br>
    <input type="text" name="new_title_name">
    <br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>