<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Paper</title>
</head>
<body>

<form action="{{ url_for('index') }}" method="get">
    Go Back to Index Page:
    <input type="submit" value="Submit">
</form>
<br>
<form action="{{ url_for('update_paper') }}" method="post">
    Options: <br><br>
    <input type="radio" name="option" value="update_title" checked> Update Title <br>
    <input type="radio" name="option" value="update_abstract" > Update Abstract <br>
    <input type="radio" name="option" value="update_sota_result" > Update SOTA Result <br>
    <input type="radio" name="option" value="paper_add_author" > Add Author <br>
    <input type="radio" name="option" value="paper_update_author" > Update Author <br>
    <input type="radio" name="option" value="paper_delete_author" > Delete Author <br>
    <input type="radio" name="option" value="paper_add_topic" > Add Topic <br>
    <input type="radio" name="option" value="paper_update_topic" > Update Topic <br>
    <input type="radio" name="option" value="paper_delete_topic" > Delete Topic <br>
    <br>
    <input type="submit" value="Submit">
</form>
<br>

</body>
</html>