.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_green {
    background-color: #4CAF50;
}

/* Green */
.button_blue {
    background-color: #008CBA;
}

/* Blue */
.button_red {
    background-color: #f44336;
}

/* Red */
.button_gray {
    background-color: #e7e7e7;
    color: black;
}

/* Gray */
.button_black {
    background-color: #555555;
}

/* Black */

.container {
    height: 200px;
    position: relative;
    border: 3px solid green;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

